.form__fields-row {
  margin-bottom: 1rem; }

.form__label {
  display: block;
  margin-bottom: 0.5rem; }

.form__field {
  background-color: transparent;
  border: 1px solid #cccccc;
  color: #000000;
  padding: 0.5rem; }
