.form {
    &__fields-row {
        margin-bottom: 1rem;
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
    }

    &__field {
        background-color: transparent;
        border: 1px solid #cccccc;
        color: #000000;
        padding: 0.5rem;
    }
}
