.endpoints__list {
  display: inline-flex;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.endpoints__list > li {
  border: 1px solid #cccccc;
  cursor: pointer;
  padding: 1rem; }
  .endpoints__list > li.active {
    background-color: #cccccc;
    border-width: transparent; }
