.endpoints {
    &__list {
        display: inline-flex;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__list > li {
        border: 1px solid #cccccc;
        cursor: pointer;
        padding: 1rem;
        &.active {
            background-color: #cccccc;
            border-width: transparent;
        }
    }
}
